
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">{{'SIGNIN_TOCONTINUE' | translate}}</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <h6 class="text-center" style="color: red">{{'WRONG' | translate}}</h6>
                <form action="/login" method="post" class="form-signin">
                    <input type="text" class="form-control" placeholder="{{'USERNAME' | translate}}" id="username" name="username" ng-model="credentials.username" required autofocus>
                    <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}" id="password" name="password" ng-model="credentials.password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        {{'SIGNIN' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
