<div class="container" ng-controller="singlePostCtrl">
    <div class="row">
        <h1 class="pb10">{{currentPost.title}}</h1>
        <div>
            <div class="text-left">
                <h5><span><i class="fa fa-eye" aria-hidden="true"></i> {{currentPost.noView}}</span></h5>
            </div>
        </div>
        <h5>{{'BY' | translate}} {{currentPost.author.username}} {{'POST_ON' | translate}} : {{currentPost.postTime | date: pageConfig[1].value}}
            </h5>
        <img src="{{currentPost.imageLink}}" alt="image" class="img-responsive">
        <p ng-bind-html="currentPost.content"></p>
        <div class="mt20">
        <a href="" ng-click="likeToggle()" style="display: inline-block"><i
                ng-class="{'fa fa-thumbs-up fa-2x' : like, 'fa fa-thumbs-o-up fa-2x' : !like}"
                aria-hidden="true"></i></a>
        <h5 style="display: inline-block">{{currentPost.noLike}} people like this</h5>
        </div>
    </div>
</div>
