/*!
 * Start Bootstrap - Blog Home (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.navbar-nav {
    color: #9d9d9d;
}

.navbar-nav>li>p {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none !important;
}

ul {
    list-style-type: none !important;
}






                                                                /*WRITE BLOG*/


.write-button>a {
    color: #FFFFFF;
}

.write-button>a:hover {
    color: #FFFFFF;
}

.privacy-select {
    max-width: 100px;
}

.title-column {
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-menu {
    color: #fff !important;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.approve-disabled {
    color: #999;
}

.table-heading {
    position: relative;
    display: block;
    padding-left: 10px;
}

.table-heading>i {
    position: absolute;
    top: 2px;
    left: 0;
}