.fz-0 {
    font-size: 0px;
}

.fz-1 {
    font-size: 1px;
}

.fz-2 {
    font-size: 2px;
}

.fz-3 {
    font-size: 3px;
}

.fz-4 {
    font-size: 4px;
}

.fz-5 {
    font-size: 5px;
}

.fz-6 {
    font-size: 6px;
}

.fz-7 {
    font-size: 7px;
}

.fz-8 {
    font-size: 8px;
}

.fz-9 {
    font-size: 9px;
}

.fz-10 {
    font-size: 10px;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-17 {
    font-size: 17px;
}

.fz-18 {
    font-size: 18px;
}

.fz-19 {
    font-size: 19px;
}

.fz-20 {
    font-size: 20px;
}

.fz-21 {
    font-size: 21px;
}

.fz-22 {
    font-size: 22px;
}

.fz-23 {
    font-size: 23px;
}

.fz-24 {
    font-size: 24px;
}

.fz-25 {
    font-size: 25px;
}

.fz-26 {
    font-size: 26px;
}

.fz-27 {
    font-size: 27px;
}

.fz-28 {
    font-size: 28px;
}

.fz-29 {
    font-size: 29px;
}

.fz-30 {
    font-size: 30px;
}

.fz-31 {
    font-size: 31px;
}

.fz-32 {
    font-size: 32px;
}

.fz-33 {
    font-size: 33px;
}

.fz-34 {
    font-size: 34px;
}

.fz-35 {
    font-size: 35px;
}

.fz-36 {
    font-size: 36px;
}

.fz-37 {
    font-size: 37px;
}

.fz-38 {
    font-size: 38px;
}

.fz-39 {
    font-size: 39px;
}

.fz-40 {
    font-size: 40px;
}

.fz-41 {
    font-size: 41px;
}

.fz-42 {
    font-size: 42px;
}

.fz-43 {
    font-size: 43px;
}

.fz-44 {
    font-size: 44px;
}

.fz-45 {
    font-size: 45px;
}

.fz-46 {
    font-size: 46px;
}

.fz-47 {
    font-size: 47px;
}

.fz-48 {
    font-size: 48px;
}

.fz-49 {
    font-size: 49px;
}

.fz-50 {
    font-size: 50px;
}

.fz-51 {
    font-size: 51px;
}

.fz-52 {
    font-size: 52px;
}

.fz-53 {
    font-size: 53px;
}

.fz-54 {
    font-size: 54px;
}

.fz-55 {
    font-size: 55px;
}

.fz-56 {
    font-size: 56px;
}

.fz-57 {
    font-size: 57px;
}

.fz-58 {
    font-size: 58px;
}

.fz-59 {
    font-size: 59px;
}

.fz-60 {
    font-size: 60px;
}

.fz-61 {
    font-size: 61px;
}

.fz-62 {
    font-size: 62px;
}

.fz-63 {
    font-size: 63px;
}

.fz-64 {
    font-size: 64px;
}

.fz-65 {
    font-size: 65px;
}

.fz-66 {
    font-size: 66px;
}

.fz-67 {
    font-size: 67px;
}

.fz-68 {
    font-size: 68px;
}

.fz-69 {
    font-size: 69px;
}

.fz-70 {
    font-size: 70px;
}

.fz-71 {
    font-size: 71px;
}

.fz-72 {
    font-size: 72px;
}

.fz-73 {
    font-size: 73px;
}

.fz-74 {
    font-size: 74px;
}

.fz-75 {
    font-size: 75px;
}

.fz-76 {
    font-size: 76px;
}

.fz-77 {
    font-size: 77px;
}

.fz-78 {
    font-size: 78px;
}

.fz-79 {
    font-size: 79px;
}

.fz-80 {
    font-size: 80px;
}

.fz-81 {
    font-size: 81px;
}

.fz-82 {
    font-size: 82px;
}

.fz-83 {
    font-size: 83px;
}

.fz-84 {
    font-size: 84px;
}

.fz-85 {
    font-size: 85px;
}

.fz-86 {
    font-size: 86px;
}

.fz-87 {
    font-size: 87px;
}

.fz-88 {
    font-size: 88px;
}

.fz-89 {
    font-size: 89px;
}

.fz-90 {
    font-size: 90px;
}

.fz-91 {
    font-size: 91px;
}

.fz-92 {
    font-size: 92px;
}

.fz-93 {
    font-size: 93px;
}

.fz-94 {
    font-size: 94px;
}

.fz-95 {
    font-size: 95px;
}

.fz-96 {
    font-size: 96px;
}

.fz-97 {
    font-size: 97px;
}

.fz-98 {
    font-size: 98px;
}

.fz-99 {
    font-size: 99px;
}

.fz-100 {
    font-size: 100px;
}

.zi-0 {
    z-index: 0;
}

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-4 {
    z-index: 4;
}

.zi-5 {
    z-index: 5;
}

.zi-6 {
    z-index: 6;
}

.zi-7 {
    z-index: 7;
}

.zi-8 {
    z-index: 8;
}

.zi-9 {
    z-index: 9;
}

.zi-10 {
    z-index: 10;
}

.zi-11 {
    z-index: 11;
}

.zi-12 {
    z-index: 12;
}

.zi-13 {
    z-index: 13;
}

.zi-14 {
    z-index: 14;
}

.zi-15 {
    z-index: 15;
}

.zi-16 {
    z-index: 16;
}

.zi-17 {
    z-index: 17;
}

.zi-18 {
    z-index: 18;
}

.zi-19 {
    z-index: 19;
}

.zi-20 {
    z-index: 20;
}

.zi-21 {
    z-index: 21;
}

.zi-22 {
    z-index: 22;
}

.zi-23 {
    z-index: 23;
}

.zi-24 {
    z-index: 24;
}

.zi-25 {
    z-index: 25;
}

.zi-26 {
    z-index: 26;
}

.zi-27 {
    z-index: 27;
}

.zi-28 {
    z-index: 28;
}

.zi-29 {
    z-index: 29;
}

.zi-30 {
    z-index: 30;
}

.zi-31 {
    z-index: 31;
}

.zi-32 {
    z-index: 32;
}

.zi-33 {
    z-index: 33;
}

.zi-34 {
    z-index: 34;
}

.zi-35 {
    z-index: 35;
}

.zi-36 {
    z-index: 36;
}

.zi-37 {
    z-index: 37;
}

.zi-38 {
    z-index: 38;
}

.zi-39 {
    z-index: 39;
}

.zi-40 {
    z-index: 40;
}

.zi-41 {
    z-index: 41;
}

.zi-42 {
    z-index: 42;
}

.zi-43 {
    z-index: 43;
}

.zi-44 {
    z-index: 44;
}

.zi-45 {
    z-index: 45;
}

.zi-46 {
    z-index: 46;
}

.zi-47 {
    z-index: 47;
}

.zi-48 {
    z-index: 48;
}

.zi-49 {
    z-index: 49;
}

.zi-50 {
    z-index: 50;
}

.zi-51 {
    z-index: 51;
}

.zi-52 {
    z-index: 52;
}

.zi-53 {
    z-index: 53;
}

.zi-54 {
    z-index: 54;
}

.zi-55 {
    z-index: 55;
}

.zi-56 {
    z-index: 56;
}

.zi-57 {
    z-index: 57;
}

.zi-58 {
    z-index: 58;
}

.zi-59 {
    z-index: 59;
}

.zi-60 {
    z-index: 60;
}

.zi-61 {
    z-index: 61;
}

.zi-62 {
    z-index: 62;
}

.zi-63 {
    z-index: 63;
}

.zi-64 {
    z-index: 64;
}

.zi-65 {
    z-index: 65;
}

.zi-66 {
    z-index: 66;
}

.zi-67 {
    z-index: 67;
}

.zi-68 {
    z-index: 68;
}

.zi-69 {
    z-index: 69;
}

.zi-70 {
    z-index: 70;
}

.zi-71 {
    z-index: 71;
}

.zi-72 {
    z-index: 72;
}

.zi-73 {
    z-index: 73;
}

.zi-74 {
    z-index: 74;
}

.zi-75 {
    z-index: 75;
}

.zi-76 {
    z-index: 76;
}

.zi-77 {
    z-index: 77;
}

.zi-78 {
    z-index: 78;
}

.zi-79 {
    z-index: 79;
}

.zi-80 {
    z-index: 80;
}

.zi-81 {
    z-index: 81;
}

.zi-82 {
    z-index: 82;
}

.zi-83 {
    z-index: 83;
}

.zi-84 {
    z-index: 84;
}

.zi-85 {
    z-index: 85;
}

.zi-86 {
    z-index: 86;
}

.zi-87 {
    z-index: 87;
}

.zi-88 {
    z-index: 88;
}

.zi-89 {
    z-index: 89;
}

.zi-90 {
    z-index: 90;
}

.zi-91 {
    z-index: 91;
}

.zi-92 {
    z-index: 92;
}

.zi-93 {
    z-index: 93;
}

.zi-94 {
    z-index: 94;
}

.zi-95 {
    z-index: 95;
}

.zi-96 {
    z-index: 96;
}

.zi-97 {
    z-index: 97;
}

.zi-98 {
    z-index: 98;
}

.zi-99 {
    z-index: 99;
}

.zi-100 {
    z-index: 100;
}

.mg0 {
    margin: 0px;
}

.mg5 {
    margin: 5px;
}

.mg10 {
    margin: 10px;
}

.mg15 {
    margin: 15px;
}

.mg20 {
    margin: 20px;
}

.mg25 {
    margin: 25px;
}

.mg30 {
    margin: 30px;
}

.mg35 {
    margin: 35px;
}

.mg40 {
    margin: 40px;
}

.mg45 {
    margin: 45px;
}

.mg50 {
    margin: 50px;
}

.mg55 {
    margin: 55px;
}

.mg60 {
    margin: 60px;
}

.mg65 {
    margin: 65px;
}

.mg70 {
    margin: 70px;
}

.mg75 {
    margin: 75px;
}

.mg80 {
    margin: 80px;
}

.mg85 {
    margin: 85px;
}

.mg90 {
    margin: 90px;
}

.mg95 {
    margin: 95px;
}

.mg100 {
    margin: 100px;
}

.mt0 {
    margin-top: 0px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb65 {
    margin-bottom: 65px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb85 {
    margin-bottom: 85px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb95 {
    margin-bottom: 95px;
}

.mb100 {
    margin-bottom: 100px;
}

.ml0 {
    margin-left: 0px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml55 {
    margin-left: 55px;
}

.ml60 {
    margin-left: 60px;
}

.ml65 {
    margin-left: 65px;
}

.ml70 {
    margin-left: 70px;
}

.ml75 {
    margin-left: 75px;
}

.ml80 {
    margin-left: 80px;
}

.ml85 {
    margin-left: 85px;
}

.ml90 {
    margin-left: 90px;
}

.ml95 {
    margin-left: 95px;
}

.ml100 {
    margin-left: 100px;
}

.mr0 {
    margin-right: 0px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr55 {
    margin-right: 55px;
}

.mr60 {
    margin-right: 60px;
}

.mr65 {
    margin-right: 65px;
}

.mr70 {
    margin-right: 70px;
}

.mr75 {
    margin-right: 75px;
}

.mr80 {
    margin-right: 80px;
}

.mr85 {
    margin-right: 85px;
}

.mr90 {
    margin-right: 90px;
}

.mr95 {
    margin-right: 95px;
}

.mr100 {
    margin-right: 100px;
}

.mt-i-0 {
    margin-top: 0px !important;
}

.mt-i-5 {
    margin-top: 5px !important;
}

.mt-i-10 {
    margin-top: 10px !important;
}

.mt-i-15 {
    margin-top: 15px !important;
}

.mt-i-20 {
    margin-top: 20px !important;
}

.mt-i-25 {
    margin-top: 25px !important;
}

.mt-i-30 {
    margin-top: 30px !important;
}

.mt-i-35 {
    margin-top: 35px !important;
}

.mt-i-40 {
    margin-top: 40px !important;
}

.mt-i-45 {
    margin-top: 45px !important;
}

.mt-i-50 {
    margin-top: 50px !important;
}

.mt-i-55 {
    margin-top: 55px !important;
}

.mt-i-60 {
    margin-top: 60px !important;
}

.mt-i-65 {
    margin-top: 65px !important;
}

.mt-i-70 {
    margin-top: 70px !important;
}

.mt-i-75 {
    margin-top: 75px !important;
}

.mt-i-80 {
    margin-top: 80px !important;
}

.mt-i-85 {
    margin-top: 85px !important;
}

.mt-i-90 {
    margin-top: 90px !important;
}

.mt-i-95 {
    margin-top: 95px !important;
}

.mt-i-100 {
    margin-top: 100px !important;
}

.mb-i-0 {
    margin-bottom: 0px !important;
}

.mb-i-5 {
    margin-bottom: 5px !important;
}

.mb-i-10 {
    margin-bottom: 10px !important;
}

.mb-i-15 {
    margin-bottom: 15px !important;
}

.mb-i-20 {
    margin-bottom: 20px !important;
}

.mb-i-25 {
    margin-bottom: 25px !important;
}

.mb-i-30 {
    margin-bottom: 30px !important;
}

.mb-i-35 {
    margin-bottom: 35px !important;
}

.mb-i-40 {
    margin-bottom: 40px !important;
}

.mb-i-45 {
    margin-bottom: 45px !important;
}

.mb-i-50 {
    margin-bottom: 50px !important;
}

.mb-i-55 {
    margin-bottom: 55px !important;
}

.mb-i-60 {
    margin-bottom: 60px !important;
}

.mb-i-65 {
    margin-bottom: 65px !important;
}

.mb-i-70 {
    margin-bottom: 70px !important;
}

.mb-i-75 {
    margin-bottom: 75px !important;
}

.mb-i-80 {
    margin-bottom: 80px !important;
}

.mb-i-85 {
    margin-bottom: 85px !important;
}

.mb-i-90 {
    margin-bottom: 90px !important;
}

.mb-i-95 {
    margin-bottom: 95px !important;
}

.mb-i-100 {
    margin-bottom: 100px !important;
}

.ml-i-0 {
    margin-left: 0px !important;
}

.ml-i-5 {
    margin-left: 5px !important;
}

.ml-i-10 {
    margin-left: 10px !important;
}

.ml-i-15 {
    margin-left: 15px !important;
}

.ml-i-20 {
    margin-left: 20px !important;
}

.ml-i-25 {
    margin-left: 25px !important;
}

.ml-i-30 {
    margin-left: 30px !important;
}

.ml-i-35 {
    margin-left: 35px !important;
}

.ml-i-40 {
    margin-left: 40px !important;
}

.ml-i-45 {
    margin-left: 45px !important;
}

.ml-i-50 {
    margin-left: 50px !important;
}

.ml-i-55 {
    margin-left: 55px !important;
}

.ml-i-60 {
    margin-left: 60px !important;
}

.ml-i-65 {
    margin-left: 65px !important;
}

.ml-i-70 {
    margin-left: 70px !important;
}

.ml-i-75 {
    margin-left: 75px !important;
}

.ml-i-80 {
    margin-left: 80px !important;
}

.ml-i-85 {
    margin-left: 85px !important;
}

.ml-i-90 {
    margin-left: 90px !important;
}

.ml-i-95 {
    margin-left: 95px !important;
}

.ml-i-100 {
    margin-left: 100px !important;
}

.mr-i-0 {
    margin-right: 0px !important;
}

.mr-i-5 {
    margin-right: 5px !important;
}

.mr-i-10 {
    margin-right: 10px !important;
}

.mr-i-15 {
    margin-right: 15px !important;
}

.mr-i-20 {
    margin-right: 20px !important;
}

.mr-i-25 {
    margin-right: 25px !important;
}

.mr-i-30 {
    margin-right: 30px !important;
}

.mr-i-35 {
    margin-right: 35px !important;
}

.mr-i-40 {
    margin-right: 40px !important;
}

.mr-i-45 {
    margin-right: 45px !important;
}

.mr-i-50 {
    margin-right: 50px !important;
}

.mr-i-55 {
    margin-right: 55px !important;
}

.mr-i-60 {
    margin-right: 60px !important;
}

.mr-i-65 {
    margin-right: 65px !important;
}

.mr-i-70 {
    margin-right: 70px !important;
}

.mr-i-75 {
    margin-right: 75px !important;
}

.mr-i-80 {
    margin-right: 80px !important;
}

.mr-i-85 {
    margin-right: 85px !important;
}

.mr-i-90 {
    margin-right: 90px !important;
}

.mr-i-95 {
    margin-right: 95px !important;
}

.mr-i-100 {
    margin-right: 100px !important;
}

.pd0 {
    padding: 0px;
}

.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}

.pd15 {
    padding: 15px;
}

.pd20 {
    padding: 20px;
}

.pd25 {
    padding: 25px;
}

.pd30 {
    padding: 30px;
}

.pd35 {
    padding: 35px;
}

.pd40 {
    padding: 40px;
}

.pd45 {
    padding: 45px;
}

.pd50 {
    padding: 50px;
}

.pd55 {
    padding: 55px;
}

.pd60 {
    padding: 60px;
}

.pd65 {
    padding: 65px;
}

.pd70 {
    padding: 70px;
}

.pd75 {
    padding: 75px;
}

.pd80 {
    padding: 80px;
}

.pd85 {
    padding: 85px;
}

.pd90 {
    padding: 90px;
}

.pd95 {
    padding: 95px;
}

.pd100 {
    padding: 100px;
}

.pt0 {
    padding-top: 0px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt55 {
    padding-top: 55px;
}

.pt60 {
    padding-top: 60px;
}

.pt65 {
    padding-top: 65px;
}

.pt70 {
    padding-top: 70px;
}

.pt75 {
    padding-top: 75px;
}

.pt80 {
    padding-top: 80px;
}

.pt85 {
    padding-top: 85px;
}

.pt90 {
    padding-top: 90px;
}

.pt95 {
    padding-top: 95px;
}

.pt100 {
    padding-top: 100px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb55 {
    padding-bottom: 55px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb65 {
    padding-bottom: 65px;
}

.pb70 {
    padding-bottom: 70px;
}

.pb75 {
    padding-bottom: 75px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb85 {
    padding-bottom: 85px;
}

.pb90 {
    padding-bottom: 90px;
}

.pb95 {
    padding-bottom: 95px;
}

.pb100 {
    padding-bottom: 100px;
}

.pl0 {
    padding-left: 0px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl55 {
    padding-left: 55px;
}

.pl60 {
    padding-left: 60px;
}

.pl65 {
    padding-left: 65px;
}

.pl70 {
    padding-left: 70px;
}

.pl75 {
    padding-left: 75px;
}

.pl80 {
    padding-left: 80px;
}

.pl85 {
    padding-left: 85px;
}

.pl90 {
    padding-left: 90px;
}

.pl95 {
    padding-left: 95px;
}

.pl100 {
    padding-left: 100px;
}

.pr0 {
    padding-right: 0px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr55 {
    padding-right: 55px;
}

.pr60 {
    padding-right: 60px;
}

.pr65 {
    padding-right: 65px;
}

.pr70 {
    padding-right: 70px;
}

.pr75 {
    padding-right: 75px;
}

.pr80 {
    padding-right: 80px;
}

.pr85 {
    padding-right: 85px;
}

.pr90 {
    padding-right: 90px;
}

.pr95 {
    padding-right: 95px;
}

.pr100 {
    padding-right: 100px;
}

.pt-i-0 {
    padding-top: 0px !important;
}

.pt-i-5 {
    padding-top: 5px !important;
}

.pt-i-10 {
    padding-top: 10px !important;
}

.pt-i-15 {
    padding-top: 15px !important;
}

.pt-i-20 {
    padding-top: 20px !important;
}

.pt-i-25 {
    padding-top: 25px !important;
}

.pt-i-30 {
    padding-top: 30px !important;
}

.pt-i-35 {
    padding-top: 35px !important;
}

.pt-i-40 {
    padding-top: 40px !important;
}

.pt-i-45 {
    padding-top: 45px !important;
}

.pt-i-50 {
    padding-top: 50px !important;
}

.pt-i-55 {
    padding-top: 55px !important;
}

.pt-i-60 {
    padding-top: 60px !important;
}

.pt-i-65 {
    padding-top: 65px !important;
}

.pt-i-70 {
    padding-top: 70px !important;
}

.pt-i-75 {
    padding-top: 75px !important;
}

.pt-i-80 {
    padding-top: 80px !important;
}

.pt-i-85 {
    padding-top: 85px !important;
}

.pt-i-90 {
    padding-top: 90px !important;
}

.pt-i-95 {
    padding-top: 95px !important;
}

.pt-i-100 {
    padding-top: 100px !important;
}

.pb-i-0 {
    padding-bottom: 0px !important;
}

.pb-i-5 {
    padding-bottom: 5px !important;
}

.pb-i-10 {
    padding-bottom: 10px !important;
}

.pb-i-15 {
    padding-bottom: 15px !important;
}

.pb-i-20 {
    padding-bottom: 20px !important;
}

.pb-i-25 {
    padding-bottom: 25px !important;
}

.pb-i-30 {
    padding-bottom: 30px !important;
}

.pb-i-35 {
    padding-bottom: 35px !important;
}

.pb-i-40 {
    padding-bottom: 40px !important;
}

.pb-i-45 {
    padding-bottom: 45px !important;
}

.pb-i-50 {
    padding-bottom: 50px !important;
}

.pb-i-55 {
    padding-bottom: 55px !important;
}

.pb-i-60 {
    padding-bottom: 60px !important;
}

.pb-i-65 {
    padding-bottom: 65px !important;
}

.pb-i-70 {
    padding-bottom: 70px !important;
}

.pb-i-75 {
    padding-bottom: 75px !important;
}

.pb-i-80 {
    padding-bottom: 80px !important;
}

.pb-i-85 {
    padding-bottom: 85px !important;
}

.pb-i-90 {
    padding-bottom: 90px !important;
}

.pb-i-95 {
    padding-bottom: 95px !important;
}

.pb-i-100 {
    padding-bottom: 100px !important;
}

.pl-i-0 {
    padding-left: 0px !important;
}

.pl-i-5 {
    padding-left: 5px !important;
}

.pl-i-10 {
    padding-left: 10px !important;
}

.pl-i-15 {
    padding-left: 15px !important;
}

.pl-i-20 {
    padding-left: 20px !important;
}

.pl-i-25 {
    padding-left: 25px !important;
}

.pl-i-30 {
    padding-left: 30px !important;
}

.pl-i-35 {
    padding-left: 35px !important;
}

.pl-i-40 {
    padding-left: 40px !important;
}

.pl-i-45 {
    padding-left: 45px !important;
}

.pl-i-50 {
    padding-left: 50px !important;
}

.pl-i-55 {
    padding-left: 55px !important;
}

.pl-i-60 {
    padding-left: 60px !important;
}

.pl-i-65 {
    padding-left: 65px !important;
}

.pl-i-70 {
    padding-left: 70px !important;
}

.pl-i-75 {
    padding-left: 75px !important;
}

.pl-i-80 {
    padding-left: 80px !important;
}

.pl-i-85 {
    padding-left: 85px !important;
}

.pl-i-90 {
    padding-left: 90px !important;
}

.pl-i-95 {
    padding-left: 95px !important;
}

.pl-i-100 {
    padding-left: 100px !important;
}

.pr-i-0 {
    padding-right: 0px !important;
}

.pr-i-5 {
    padding-right: 5px !important;
}

.pr-i-10 {
    padding-right: 10px !important;
}

.pr-i-15 {
    padding-right: 15px !important;
}

.pr-i-20 {
    padding-right: 20px !important;
}

.pr-i-25 {
    padding-right: 25px !important;
}

.pr-i-30 {
    padding-right: 30px !important;
}

.pr-i-35 {
    padding-right: 35px !important;
}

.pr-i-40 {
    padding-right: 40px !important;
}

.pr-i-45 {
    padding-right: 45px !important;
}

.pr-i-50 {
    padding-right: 50px !important;
}

.pr-i-55 {
    padding-right: 55px !important;
}

.pr-i-60 {
    padding-right: 60px !important;
}

.pr-i-65 {
    padding-right: 65px !important;
}

.pr-i-70 {
    padding-right: 70px !important;
}

.pr-i-75 {
    padding-right: 75px !important;
}

.pr-i-80 {
    padding-right: 80px !important;
}

.pr-i-85 {
    padding-right: 85px !important;
}

.pr-i-90 {
    padding-right: 90px !important;
}

.pr-i-95 {
    padding-right: 95px !important;
}

.pr-i-100 {
    padding-right: 100px !important;
}

.top-0 {
    top: 0px !important;
}

.top-5 {
    top: 5px !important;
}

.top-10 {
    top: 10px !important;
}

.top-15 {
    top: 15px !important;
}

.top-20 {
    top: 20px !important;
}

.top-25 {
    top: 25px !important;
}

.top-30 {
    top: 30px !important;
}

.top-35 {
    top: 35px !important;
}

.top-40 {
    top: 40px !important;
}

.top-45 {
    top: 45px !important;
}

.top-50 {
    top: 50px !important;
}

.top-55 {
    top: 55px !important;
}

.top-60 {
    top: 60px !important;
}

.top-65 {
    top: 65px !important;
}

.top-70 {
    top: 70px !important;
}

.top-75 {
    top: 75px !important;
}

.top-80 {
    top: 80px !important;
}

.top-85 {
    top: 85px !important;
}

.top-90 {
    top: 90px !important;
}

.top-95 {
    top: 95px !important;
}

.top-100 {
    top: 100px !important;
}

.left-0 {
    left: 0px !important;
}

.left-5 {
    left: 5px !important;
}

.left-10 {
    left: 10px !important;
}

.left-15 {
    left: 15px !important;
}

.left-20 {
    left: 20px !important;
}

.left-25 {
    left: 25px !important;
}

.left-30 {
    left: 30px !important;
}

.left-35 {
    left: 35px !important;
}

.left-40 {
    left: 40px !important;
}

.left-45 {
    left: 45px !important;
}

.left-50 {
    left: 50px !important;
}

.left-55 {
    left: 55px !important;
}

.left-60 {
    left: 60px !important;
}

.left-65 {
    left: 65px !important;
}

.left-70 {
    left: 70px !important;
}

.left-75 {
    left: 75px !important;
}

.left-80 {
    left: 80px !important;
}

.left-85 {
    left: 85px !important;
}

.left-90 {
    left: 90px !important;
}

.left-95 {
    left: 95px !important;
}

.left-100 {
    left: 100px !important;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.max-w-300 {
    max-width: 300px;
}

.max-h-210 {
    max-height: 210px;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.over-hidden {
    overflow: hidden;
}

.dis-inline {
    display: inline-block;
}

.dis-none {
    display: none;
}

.w500 {
    width: 500px;
}

.h400 {
    height: 400px;
}